<style type="text/css">
body {
    background: url('valid.png') repeat;
    animation-duration: 2s;
    animation-name: POP;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes POP {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 88px -31px;
    }
}
*{
    animation-duration:0.5s;
    animation-name:magnets;
    animation-iteration-count:infinite;
    animation-timing-function: linear;
}

@keyframes magnets{
0%{
    color:red;
}

14%{
color:orange;
}

29%{
color:yellow;
}

44%{
    color:green;
    transform: rotate(0.5deg);
}

58%{
    color:blue;
    transform: rotate(-0.5deg);
}

85%{
color:indigo;
}

100%{
color:violet;
}
}
</style>
<title>Live View / - AXIS</title>
<font face="Comic Sans MS" size="9001">
    <!-- this well formed HTML document brought to you by VIM -->
    <strong style="position:absolute;width:100%;"><blink><marquee direction="right" speed="30">POWERED BY &lt;MARQUEE&gt;</marquee></blink></strong>
        <strong style="position:absolute;width:100%;"><blink><marquee direction="left" speed="20">POWERED BY &lt;MARQUEE&gt;</marquee></blink></strong>
<strong style="position:absolute;width:100%;"><blink><marquee scrollamount="120" direction="right">POWERED BY &lt;MARQUEE&gt;</marquee></blink></strong>
<strong style="position:absolute;width:100%;"><blink><marquee scrollamount="110" direction="left">POWERED BY &lt;MARQUEE&gt;</marquee></blink></strong>
</font>
